<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html><head><title>GUESS: The Graph Exploration System, Animated</title>

<style type="text/css">
	@import "guess.css";

</style>
</head><body>
<div id="banner"><TABLE><TR><TD WIDTH=150 ALIGN=RIGHT><IMG SRC="logoleft.jpg" BORDER=0></TD><TD ALIGN=LEFT><A HREF="index.html"><IMG SRC="logoright.jpg" border=0></A></TABLE></div>

<div id="centercontent">
<P>
</P>
<div id="bolded">
Animated GIF example
</div>
<CENTER><IMG SRC="test2.gif"></CENTER>
<P>Animation of an interface session... centering on a node, clicking on a link to center on the two end points, and zooming back out. 
</P>
</div>

