<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html><head><title>GUESS: The Graph Exploration System, Documentation </title>

<style type="text/css">
	@import "guess.css";

</style>
</head><body>
<div id="banner"><TABLE><TR><TD WIDTH=150 ALIGN=RIGHT><IMG SRC="logoleft.jpg" BORDER=0></TD><TD ALIGN=LEFT><A HREF="index.html"><IMG SRC="logoright.jpg" border=0></A></TABLE></div>


<div id="centercontent">
<P>
</P>
<div id="bolded">
Documentation
</div>
<P>
The recommended documentation is the tutorial/manual which is available as:
</P>
<UL>
<LI><A HREF="manual.pdf">PDF</A> (3.8Mb)</LI>
<LI><A HREF="manual.html">HTML</A></LI>
</UL>
<P>
If you're interested in the Javadoc you can browse that <A HREF="javadoc/index.html">here</A>.  If you get stuck you should also browse through the discussions on the <A HREF="http://groups-beta.google.com/group/guess-discuss/">mailing list</A>.</P>
</div>

