<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html><head><title>GUESS: The Graph Exploration System, Download </title>

<style type="text/css">
	@import "guess.css";

</style>
</head><body>
<div id="banner"><TABLE><TR><TD WIDTH=150 ALIGN=RIGHT><IMG SRC="logoleft.jpg" BORDER=0></TD><TD ALIGN=LEFT><A HREF="index.html"><IMG SRC="logoright.jpg" border=0></A></TABLE></div>

<div id="centercontent">
<P>
</P>
<div id="bolded">
Download
</div>
<P>
If you would just like to run GUESS you have the option:
</P>
<UL>
<LI><A HREF="http://prdownloads.sourceforge.net/guess/guess-081905.zip?download">Version 1.0-beta</A> Install the latest beta (8/19/2005).  This does not come with an installer, but has many more features.</LI>
<LI><A HREF="http://sourceforge.net/project/showfiles.php?group_id=146031&package_id=160778&release_id=361451">Version 0.5-alpha</A> Available in <A HREF="http://prdownloads.sourceforge.net/guess/guess.zip?download">ZIP</A> or <A HREF="http://prdownloads.sourceforge.net/guess/guess-install.exe?download">EXE</A> (windows self insalling executable)</LI>
<LI><A HREF="http://sourceforge.net/project/showfiles.php?group_id=146031&package_id=160778">All releases</A></LI>
</UL>
<P>
I am working on a general installer for all systems, but please let me know if you have any problems installing in the meantime.  In any case you will need:
</P>
<UL>
<LI>The <A HREF="http://java.sun.com/j2se/1.4.2/download.html">Java Runtime</A> (1.4+)</LI>
<LI>The <A HREF="http://java.sun.com/products/java-media/jmf/2.1.1/download.html">Java Media Framework</A> (If you want to save out animations, should work without this, but I make no promises)
</UL> 
<P>
You will want to read the README.TXT and tutorial/walk through in the manual.
</P>
<A NAME="source">
<div id="bolded">
Source
</div>
<P>
GUESS is distributed under a GPL license.  The source is included in the guess-src.jar file which is included in all the <A HREF="http://sourceforge.net/project/showfiles.php?group_id=146031&package_id=160778&release_id=361453">beta distributions</A>.  The current development version is also available through <A HREF="http://sourceforge.net/cvs/?group_id=146031">anonymous CVS</A> on SourceForge.
</P>
</div>

