
	body {
		margin:10px 10px 0px 10px;
		padding:0px;
		background:#000;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		}
	
	#leftcontent {
		position: absolute;
		left:10px;
		top:100px;
		width:150px;
		background:#000;
		border-right:1px solid #FFF;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		}

	#centercontent {
		background:#000;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		voice-family: "\"}\"";
		voice-family: inherit;
   		margin-left: 151px;
   		margin-right:151px;
		}

	html.body #centercontent {
   		margin-left: 151px;
   		margin-right:151px;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		}

	#rightcontent {
		position: absolute;
		right:10px;
		top:100px;
		width:150px;
		background:#171717;
		border-left:1px solid #7F7F7F;
		border-bottom:1px solid #7F7F7F;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		}

	#rightcontent p {
	        padding-left:10px;
		padding-right:10px;
		padding-top:5px;
		color:#FFF;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size:10px;
        }
	
	#banner {
		background:#000;
		height:40px;
		voice-family: "\"}\"";
		voice-family: inherit;
		height:39px;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		}
	html>body #banner {
		height:39px;
		padding-bottom:45px;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		}
		
	p,h1,pre {
	        padding-left:10px;
		padding-right:10px;
		color:#FFF;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size:13px;
		}

	#bolded {
	        margin:0px 10px 10px 10px;
	        color: #000;
		background: #FFFFCC;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-weight: bold;
        }
	
	h1 {
		font-size:14px;
		padding-top:10px;
		color:#fff;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		}
		
	#banner h1 {
		font-size:14px;
		padding:0px 0px 0px 50px;
		margin:0px;
		right:100px;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		} 

        A:LINK, A:VISITED {
	        color:#fff;
               }

        A:HOVER {
	        color:#FAFAD2;
               }
        LI {
		padding-left: 10px;
		color:#FFF;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size: 13px;
       }

       #leftcontent LI {
		padding-left: 10px;
		color:#FFF;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size: 10px;
       }

	#menu1 {
	        color: #FFF;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-weight: bold;
		padding-top: 10px;
		font-size: 13px;
        }

	#menu2 {
	        color: #FFF;
		padding-left: 20px;
		padding-top: 10px;
		font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 13px;
        }