<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html><head><title>GUESS: The Graph Exploration System </title>

<style type="text/css">
	@import "guess.css";

</style>
</head><body>
<div id="banner"><H1><A HREF="index.html"><IMG SRC="logobar.jpg" border=0></A></H1></div>

<div id="centercontent">
<P>
</P>
<A HAME="applets">
<div id="bolded">
Applets
</div>
<UL>
<LI><A HREF="test.html">Applet demo</A> (just the basics)
<LI><A HREF="test2.html">Another applet demo</A>.  Here we have added a a toolbar that will let you control the displayed edges.  The source code for this example is available <A HREF="guess/dockexample2applet.py.txt">here</A>.
<LI><A HREF="signedtest.html">An applet with the interpreter so you can try out the language features (old version until I get new certs)</A>
<LI>Lada Adamic's and Natalie Glance's <A HREF="http://www.hpl.hp.com/research/idl/papers/politicalblogs/">paper on political blogging</A> include a demo using GUESS <A HREF="http://www.hpl.hp.com/research/idl/demos/politicalblogdemo.html">here</A>.</P>
</UL>
<A NAME="movies">
<div id="bolded">
Movies
</div>
</div>

